# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw/private dataset
data/raw/*.xlsx

# Temporary files
*.tmp
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
